#page {
  width: 96%;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  padding: 16px;
}

.img-container img {
  width: 100%;
}

.title h1 {
  margin: 16px auto 16px 20px;
}

#page .panel-btn-container {
  margin-bottom: 20px;
}

#page .page-container-flex {
  display: flex;
}

#page .page-container-flex .center {
  width: calc(100% - 30% * 2);
}

#page .page-container-flex .right {
  margin-top: 24px;
  width: 30%;
  padding: 20px;
}

#page .page-container-flex .left {
  margin-top: 24px;
  width: 30%;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  #page p,
  #page h1,
  #page h2 {
    font-size: 32px;
  }

  #page label {
    font-size: 28px;
    margin-right: 10px;
  }

  #page .page-container-flex .left {
    display: none;
  }

  #page .page-container-flex .center {
    width: calc(100% - 30%);
  }

  input[type="radio"] {
    height: 18px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 4px;
  }
}

@media screen and (max-width: 1024px) {
  #page p,
  #page h1,
  #page h2 {
    font-size: 48px;
  }

  #page label {
    font-size: 36px;
  }

  #page .page-container-flex {
    flex-direction: column;
  }

  #page .page-container-flex .center,
  #page .page-container-flex .right {
    width: 100%;
  }

  input[type="radio"] {
    height: 26px;
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-right: 10px;
  }
}
