#page{
    width: 1000px;
    margin: 0 auto;
}

.img-container{
    width: 100%;
}

.img-container img{
    width: 100%;
}

.title h1{
    margin:16px auto 16px 20px;
}

#page .panel-btn-container{
    margin-bottom: 20px;
}